@{
    ViewData["Title"] = "Akash";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div>
    <ul>
        <li>Akash</li>
        <li>fgngfh</li>
        <li>hht</li>
        <li>hdfhfg</li>
        <li>hhhthth</li>
        <li>fgngfh</li>
        <li>hht</li>
        <li>hdfhfg</li>
        <li>hhhthth</li>
    </ul>
</div>
